*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    background-color: #5d30da;
    width: 100%;
    height: 200px;
    flex-wrap: wrap;
    
}

.box{
    width: 100px;
    height: 100px;
    color:#fff;
}

.box1{
    background-color: #ff0000;
    flex-grow: 1;
}

.box2{
    background-color: #162316;
    /* flex-grow: 1;
    flex-shrink: 2; 
    flex-basis: 200px;
    */
    /* flex: 1 2 200px;
} */

/* .box3{
    background-color: #0000ff;
    flex-shrink: 2;
}

.box4{
    background-color: rgb(255, 0, 255);
}
